.top {
    width: 6em;
    border: 1px solid green ;

}

.boxed {
    border: 1px solid green ;
    width: 35em;
    text-align: center;
    background-color: white;
    margin-top: 10px;
  }

.last_dv {
    background-color:black;
}

.box {
    border: 1px solid green ;
    width: 260px;
    height: 260px;
    background-color: blue;
    float: right;
}

.very_last_dv {
    background-color: darkgray;
}